@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

body {
  background-color: white;
}

#detailsContainer,
#nameScreen,
#nameScreen label,
#nameScreen input {
  font-family: "Assistant";
}

#introScreenDesktop h1 {
  font-family: "Assistant";
  font-size: 2rem;
  line-height: 2.3rem;
  padding-bottom: 6px;
}

#playButton img {
  clip-path: circle(31.5px at center);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1);
}

#introHostName {
  font-family: "Assistant";
  margin: 2rem 4rem 0 1.5rem;
}

#introTitle {
  font-family: "Assistant";
  font-weight: 700;
  margin: 0 6rem 0 1.5rem;
  font-size: 2.2rem;
  line-height: 1.2;
}

#recordButton {
  font-family: "Assistant";
  font-weight: 600;
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px black;
}

#uploadLink {
  color: white;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 14px;
}

#introTerms {
  text-align: center;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 80%;
  margin: 18px auto 6px auto;
}

#introTerms a {
  color: white;
  text-decoration: none;
}

#buttonsContainer button {
  font-family: "Assistant";
  font-weight: 600;
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px black;
}

#buttonsContainer button.buttonSkip {
  background-color: transparent;
}

#nameScreen {
  background-color: #161921;
  margin-top: 140px;
  border-radius: 24px 24px 0 0;
  background-color: rgba(22, 25, 33, 0.95);
}

#nameScreen #videoFade {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  min-height: 20vh;
  position: absolute;
  top: 0;
  margin-top: -140px;
  margin-left: -0.5rem;
  width: 100%;
  pointer-events: none;
}

#nameScreen h1,
#nameScreen label,
#nameScreen p {
  color: white;
}

#nameScreen h1 {
  font-family: "Assistant";
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding-bottom: 0;
}

#nameScreen .formInput {
  border: 2px solid #1f63fa;
  background-color: black;
  color: white;
  font-family: "Questrial";
}

#nameScreen .formInput:focus {
  outline: none;
}

#nameScreen label {
  font-family: "Assistant";
  color: white;
  font-weight: 300;
  font-size: 14px;
}

#nameScreen p {
  font-family: "Assistant";
  color: white;
  font-weight: 400;
  font-size: 16px;
}

#nameScreen p b {
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px white;
}

#successScreen {
  background-color: white;
}

#successScreen p {
  color: #161921;
  text-align: center;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 95%;
  margin: 18px auto 24px auto;
}

#successScreen h1 {
  font-family: "Assistant";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

#successScreen .hostname {
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px white;
}
